{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block field_sets %}
    {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
    {% endfor %}
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        {% if change %}
            {% if not is_popup %}
                {% url 'admin:auth_user_password_change' original.pk|admin_urlquote as password_change_url %}
                <p><a href="{{ password_change_url }}" class="button">
                    {% trans 'Change password' %}
                </a></p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
