{% load static %}
{% load i18n %}
<aside 
            id="separator-sidebar"
            class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform text-sm font-bold"
            :class="{ '-translate-x-full': !sidebarOpen, 'transform-none': sidebarOpen }"
            aria-label="Sidebar"
        >
            <div class="h-full px-3 py-4 overflow-y-auto bg-white border border-slate-200 dark:bg-gray-800 ">
                <div class="flex items-center justify-between px-4 mb-5">
                    <img src="{% static 'konnektom-logo.png' %}" width="80" height="60">
                    <button @click="sidebarOpen = false" class="sm:hidden text-gray-500 dark:text-gray-400 hover:text-gray-600 dark:hover:text-white">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                
                <ul class="space-y-2 font-medium mt-20" x-data="{ openMenu: null }">

                  <li>
                        <a href="/" class="flex items-center p-2 text-black  rounded-lg dark:text-white  hover:text-blue-500  focus:text-blue-500 dark:hover:bg-gray-700 group">
                          {% include 'components/icons/dashboard.html' %}
                          <span class="ms-3">{% trans "Dashboard" %}</span>
                        </a>
                    </li>
                    <!-- Product Menu (Item Master List inside) -->
                    <li>
                        <button 
                            @click="openMenu === 1 ? openMenu = null : openMenu = 1"
                            class="flex items-center justify-between w-full p-2 text-black rounded-lg dark:text-white  hover:text-blue-500 dark:hover:bg-gray-700 group"
                        >
                            <div class="flex items-center">
                                {% include 'components/icons/product_menu.html' %}
                                <span class="ms-3">{% trans "Product Menu" %}</span>
                            </div>
                            <i class="fas fa-chevron-down text-xs transition-transform" :class="{ 'rotate-180': openMenu === 1 }"></i>
                        </button>
                        <ul x-show="openMenu === 1" class="py-2 space-y-2 ml-9">
                            <li>
                                <a href="/item-master/" class="flex items-center p-1.5 text-sm text-black hover:text-blue-500 focus:text-blue-500 rounded-lg dark:text-white dark:hover:bg-gray-700 group">
                                    <span class="ms-3">{% trans "Item Master List" %}</span>
                                </a>
                            </li>
                            {% if perms.item_master.add_itemmaster %}
                            <li>
                                <a href="/item-master/create/" class="flex items-center p-1.5 text-sm text-black hover:text-blue-500 focus:text-blue-500 rounded-lg dark:text-white dark:hover:bg-gray-700 group">
                                    <span class="ms-3">{% trans "Add New Item" %}</span>
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="/item-master/inventory/" class="flex items-center p-1.5 text-sm text-black hover:text-blue-500 focus:text-blue-500 rounded-lg dark:text-white dark:hover:bg-gray-700 group">
                                    <span class="ms-3">{% trans "Inventory Items" %}</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center p-1.5 text-sm text-black  hover:text-blue-500 focus:text-blue-500 rounded-lg dark:text-white dark:hover:bg-gray-700 group">
                                    <span class="ms-3">{% trans "Stock Item List" %}</span>
                                </a>
                            </li>
                            {% if perms.item_master.add_inventoryitem %}
                            <li>
                                <a href="{% url 'item-master:inventory_item_create' %}" class="flex items-center p-1.5 text-sm text-black  hover:text-blue-500 focus:text-blue-500  rounded-lg dark:text-white dark:hover:bg-gray-700 group">
                                    <span class="ms-3">{% trans "Add Stock Item" %}</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    <!-- Customer Menu (dropdown) -->
                    <li>
                        <button 
                            @click="openMenu === 4 ? openMenu = null : openMenu = 4"
                            class="flex items-center justify-between w-full p-2 text-black rounded-lg dark:text-white  hover:text-blue-500 dark:hover:bg-gray-700 group"
                        >
                            <div class="flex items-center">
                                <i class="fas fa-users"></i>
                                <span class="ms-3">{% trans "Customer" %}</span>
                            </div>
                            <i class="fas fa-chevron-down text-xs transition-transform" :class="{ 'rotate-180': openMenu === 4 }"></i>
                        </button>
                        <ul x-show="openMenu === 4" class="py-2 space-y-2 ml-9">
                            <li>
                                <a href="{% url 'customer:customer_list' %}" class="flex items-center p-1.5 text-sm text-black hover:text-blue-500 focus:text-blue-500 rounded-lg dark:text-white dark:hover:bg-gray-700 group">
                                    <span class="ms-3">{% trans "Customer List" %}</span>
                                </a>
                            </li>
                            {% if perms.customer.add_company %}
                            <li>
                                <a href="{% url 'customer:customer_create' %}" class="flex items-center p-1.5 text-sm text-black hover:text-blue-500 focus:text-blue-500 rounded-lg dark:text-white dark:hover:bg-gray-700 group">
                                    <span class="ms-3">{% trans "Add New Customer" %}</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    
                    <!-- Warranty & Services Menu (dropdown) -->
                    <li>
                        <button 
                            @click="openMenu === 5 ? openMenu = null : openMenu = 5"
                            class="flex items-center justify-between w-full p-2 text-black rounded-lg dark:text-white  hover:text-blue-500 dark:hover:bg-gray-700 group"
                        >
                            <div class="flex items-center">
                                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"></path>
                                </svg>
                                <span class="ms-3">Warranty & Services</span>
                            </div>
                            <i class="fas fa-chevron-down text-xs transition-transform" :class="{ 'rotate-180': openMenu === 5 }"></i>
                        </button>
                        <ul x-show="openMenu === 5" class="py-2 space-y-2 ml-9">
                            <li>
                                <a href="{% url 'warranty_and_services:installation_list' %}" class="flex items-center p-1.5 text-sm text-black hover:text-blue-500 focus:text-blue-500 rounded-lg dark:text-white dark:hover:bg-gray-700 group">
                                    <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                    </svg>
                                    <span class="ms-1">Installation List</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'warranty_and_services:warranty_tracking_list' %}" class="flex items-center p-1.5 text-sm text-black hover:text-blue-500 focus:text-blue-500 rounded-lg dark:text-white dark:hover:bg-gray-700 group">
                                    <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"></path>
                                    </svg>
                                    <span class="ms-1">Warranty Tracking</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'warranty_and_services:service_tracking_list' %}" class="flex items-center p-1.5 text-sm text-black hover:text-blue-500 focus:text-blue-500 rounded-lg dark:text-white dark:hover:bg-gray-700 group">
                                    <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                    </svg>
                                    <span class="ms-1">Service Tracking</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>